@font-face {
	font-family: Centra;
	src: url('./static/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./static/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./static/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  width: 100%;
  font-family: 'Centra', sans-serif !important;
  /* font-family: 'Roboto Flex', sans-serif; */
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body,
:host {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}
