@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600&family=Roboto:wght@100;300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto Flex', sans-serif; */
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body,
:host {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}
